<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet" />

<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" routerLink="/home"><img src="{{ imgnav }}" class="nav_logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0;"></span>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class=" sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="scrolltoel()" routerLink="/home">
          About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="scrolltoel4()" routerLink="/home">How It Work <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="scrolltoel3()" routerLink="/home">Contact Us <span
            class="sr-only">(current)</span></a>
      </li>

    </ul>

    <a class="nav-link user_logo" routerLink="/login" (click)="scrolltoel3()">
      <i class="fa fa-user-circle" style="font-size:30px;"></i>
      <span class="sr-only">(current)</span></a>

    <button class="btn btn-info btn-lg w-40 " routerLink="/donation" value="DONATE" name="">
      Donate Now
    </button>
  </div>
</nav>
