.navbar {
  background-color: #3B6D8C;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  transition: padding 0.5s;

}

.navbar:hover {
  opacity: 0.97;
  padding: 1%;
}

.navbar a {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.navbar-toggler {
  padding: 2%;
  border: none;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-nav {
  margin-left: 10%;
  width: 50%
}

.navbar-nav li {
  margin-left: 3%;
}

.nav_logo {
  width: 70px;
  height: 60px;
  border-radius: 55%;
  margin-left: 70%;
}

.navbar-nav a:hover {
  color: #AFBF34;

}

.user_logo {
  margin-right: 5%;
  cursor: pointer;
}

.user_logo:hover i {
  color: #AFBF34;

}

.navbar-nav li:hover {
  border-bottom: 2px solid #AFBF34;
  cursor: pointer;
}

.navbar .btn {
  color: white;
  background-color: #AFBF34;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-right: 5%;

}
