body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat';
    background-image: url("https://images.unsplash.com/photo-1538049535840-0580971b3b5d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    height:625px
}
.user_logo:hover{
    color: #AFBF34;
  
  }
.centerDiv{
    height: 80px;
    background-color: #AFBF34;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #747373;

}  
.charity{
    padding-left: 95px;
    padding-top: 15px;
}
.volunteer{
    padding-left: 87px;
    padding-top: 15px;
}

.admin1{
    margin-left: 70px;
    font-family: 'Merriweather', serif;
    font-size: 19px;
}
.icon{
    margin-left: 800px;
}

.manageCharity{
    margin-left: 390px;
    background-color: darkgrey;
    width: 248px;
    height: 60px;
    padding-left: 65px;
    padding-top: 12px;
}
.manageVolunteer{
    margin-left: 11px;
    background-color: darkgrey;
    width: 248px;
    height: 60px;
    padding-left: 48px;
    padding-top: 12px;
}
.wallpapper{
    background-color: white;
    opacity: .9;
    height: 290px;
    
}
.maincolor
{
  background-color: #3B6D8C ;
}