body {
 
   
    background-image: url("https://images.unsplash.com/photo-1538049535840-0580971b3b5d?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}


 
  .sidenav {
    z-index: 1;
  
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    padding-top: 8%;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    margin-bottom: 15%;
  }
  .name{
    margin-right: 72%;
  }
  .sidenav a:hover {
    color:  #AFBF34;
  }
  
  .main {
    font-size: 28px; /* Increased text to enable scrolling */
    margin-left:6%;
    margin-top: 6%;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }