<!-- <body class="p-0">
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#3B6D8C;">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <div class="nav-link admin1">Admin name</div>
      </li>
      <li class="nav-item">
        <a class="nav-link icon user_logo" href="#"><i class=" material-icons"
            style="font-size:35px; color: white;">local_post_office</i></a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="row mb-5 mt-4">
      <div class="col-md-6">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="centerDiv" >
              <h1 class="charity">Charities</h1>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="centerDiv">
              <h1 class="volunteer">Volunteers</h1>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="centerDiv" style="    margin-bottom: 8%;" (click)="addAdmin()">
          <h1 class="volunteer">Add Admin</h1>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 pt-3 pb-3 mt-4 wallpapper" *ngIf=displaydiv>
        <div class="pb-3">
          <i (click)="closeview()" class="fas fa-times-circle" style="font-size: 20px;color:#3B6D8C;margin-left: 90%;"></i>              

          <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)" method="POST">
{{charityerror}}
            <div class="form-group">
              <label>EMAIL :</label>
              <input type="email" #email="ngModel" [class.is-invalid]=" email.invalid && email.touched" required
                class="form-control" [(ngModel)]=" adminModel.email" placeholder="Email" name="email">
              <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>
            </div>
            <div class="form-group">
              <label>PASSWORD :</label>
              <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
                required class="form-control" [(ngModel)]=" adminModel.password" placeholder="Password" name="password">
              <small [class.d-none]="password.valid || password.untouched" class="text-danger">password is
                required</small>
            </div>

            <input type="submit" [disabled]="userForm.form.invalid" class="btn maincolor w-100" value="Sign in">

          </form>
        </div>

      </div>
      <i (click)="closeview()" class="fas fa-times-circle" style="font-size: 20px;color:#3B6D8C;"></i>              

      <table class="table table-hover">

        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">E.mail</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let charity of charitydetails">
            <td>{{charity.name }}</td>
            <td>{{charity.email }}</td>
            <td>{{charity.country }}</td>
          </tr>
        
        </tbody>
      </table>
      <div class="col-3"></div>
    </div>



  </div>

</body> -->







<body>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#3B6D8C;">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <div class="nav-link admin1">Admin name</div>
      </li>
      <li class="nav-item">
        <a class="nav-link icon user_logo" href="#"><i class=" material-icons"
            style="font-size:35px; color: white;">local_post_office</i></a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="sidenav">
    <a routerLink="admin/add">Add Admin</a>
    <a routerLink="admin/charity">Charities</a>
    <a routerLink="/admin/volunteer">Volunteers</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="main">

<router-outlet></router-outlet>




  </div>
 
  </body>