<app-navbar></app-navbar>
<body>
<div class="container-fluid">

  <div class="row">
 <div class="col-md-5 col-sm-5 pt-3 pb-3 logindiv bg-light mb-5"> 
      <h4 style="text-align: center; " class="mt-3 mb-3">Sign in</h4>
      <input type="submit" class="btn FACEBOOKbtn " value="SIGN IN WITH FACEBOOK">

      <div class="logform bg-light pb-1 ">
        <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()" action="/login" method="POST">
          <h5 style="color: red;text-align: center;">{{loginerror}}</h5>
          <div class="form-group mb-3">
            <input type="email" #email="ngModel" [class.is-invalid]=" email.invalid && email.touched" required
              class="form-control " [(ngModel)]=" loginModel.email" placeholder="Email" name="email">
            <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>
          </div>
          <div class="form-group">
            <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
              required class="form-control" [(ngModel)]=" loginModel.password" placeholder="Password" name="password">
            <small [class.d-none]="password.valid || password.untouched" class="text-danger">password is
              required</small>
          </div>
          <input type="submit" [disabled]="userForm.form.invalid" class="btn maincolor w-100 " value="Sign in">
          <p class="resetPW"><a  routerLink="/resetpassword">Forget password</a></p>

        </form>

      </div>
      <div class="registration">
        <input type="submit" class="btn registerbtn" (click)="signuproute()" value="NEED AN ACCOUNT ? JOIN NOW">
      </div>



    </div> 



  </div>
</div>
</body>
<app-footer></app-footer>