<div #about_section id="about_us">

  <div class="container-fluid  mb-3 about_details">
    <div class="row">

      <div class="col-md-6  pr-0">
        <div class="behind-img"></div>
        <img src={{imgname}} class="about_img" />

      </div>
      <div class="col-md-6 mt-5 w-100  ">
        <h1>About us :</h1>
        <div class="w-80">
          <p class="text-left">

            We are four developers want to change<br /> the world arount us , believe in equality <br />and looking
            forward to
            make
            our society<br /> better . If you wanna be a part of the<br /> change! save them and join our community .
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about container-fluid  ">
    <div class="row pl-0 pr-0">
      <div class="col-md-12 col-sm-12  ">
        <div class="caption pl-0 pr-0">

          <p>OUR MISSION:</p>
          <h1> BRING INSPIRATION</h1>
          <h2>AND INNOVATION</h2>
          <h1>TO EVERY HUMAN</h1>
          <h1> IN THE WORLD</h1>
        </div>

      </div>
    </div>

  </div>
</div>
