<div class="about container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="caption">

        <p>OUR MISSION:</p>
        <h1> BRING INSPIRATION</h1>
        <h2>AND INNOVATION</h2>
        <h1>TO EVERY ATHLETE*</h1>
        <h1> IN THE WORLD</h1>
      </div>

      <!-- <img src="https://tapf.org.uk/includefiles/pages/Our_history_-_page_banner.jpg" /> -->
    </div>
  </div>

</div>
<div class="container-fluid mt-5 mb-3 about_details">
  <div class="row">

    <div class="col-md-6  pr-0">
      <img src={{imgname}} class="about_img" />

    </div>
    <div class="col-md-6 mt-5 w-100  ">
      <h1>About us :</h1>
      <div class="w-80">
        <p class="text-left">

          We are a child-advocacy ministry pairing compassionate
          people with children living in extreme poverty to release
          the children from spiritual, economic, social, and physical poverty.
          We are a child-advocacy ministry pairing compassionate people with children living in extreme poverty to
          release
        </p>
      </div>
    </div>
  </div>
</div>
