.contact {
  background-color: #3B6D8C;
  color: #fff;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 36px;
  height: auto;
  font-family: "Nike TG", "Arial black", "Arial Bold", Arial, sans-serif;

  position: relative;
}




.line {
  height: 2px;
  background-color: #fff;
  width: 4%;
  margin: auto;
  margin-bottom: 0.3%;
}

.line2 {
  height: 2px;
  background-color: #fff;
  width: 8%;
  margin: auto;
  margin-bottom: 0.3%;

}

.line3 {
  height: 2px;
  background-color: #fff;
  width: 4%;
  margin: auto;
}

.contact h2 {
  color: #AFBF34;
  font-size: 18px;
  padding-top: 3%;
  font-family: "Nike TG", "Arial black", "Arial Bold", Arial, sans-serif;

}


.contact-info {
  margin: auto;
  padding-top: 2%;
  width: 40% !important;

}

.form-control {
  background-color: white;
  border-style: none;
  margin-bottom: 3px !important;
}

textarea {
  background: #1E242C;
}

.contact a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border: 2px solid #fff;
  font-size: 16pt;
  font-family: "Nike TG", "Arial black", "Arial Bold", Arial, sans-serif;
  transition: 1s;
}

.contact a:hover {
  background-color: #AFBF34;
}



textarea:focus,
input:focus {
  color: #AFBF34
}
