#howitwork {
  background-image: url("https://assets.static-upwork.com/assets/Adquiro/9101b18/wp/images/hero-desktop.5cca0d66eb97.svg");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;
}

h1 {
  color: #0086bf;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-top: 10%;
  font-size: 3.5vw;


}
.text_work{
  width: 50% !important;
  margin: auto;
padding-top: 5%;
}
h3 {
  color: #AFBF34;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 3vw;

}

@media screen and (max-width: 1000px) and (min-width: 600px) {

  
}