<html>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="../../assets/1.jpg" class="nav_logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0;"></span>
    </span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav  ">
      <li class="nav-item active">
        <i class="fas fa-home align-center "></i>
        <a class="nav-link " (click)="refresh()">
          Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <i class="fas fa-envelope align-center  "></i>

        <a class="nav-link my-0" href="#">Messages</a>
      </li>
      <li class="nav-item mr-4">
        <i class="fas fa-bell align-center"></i>

        <a class="nav-link" href="#">Notifications</a>
      </li>
      <li class="nav-item mr-5">
        <i class="fa fa-user-circle"></i>

        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <form class="form-inline mr-auto searchform">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="Start searching" aria-label="Search" (click)="searcheng()">
      </form>
    </ul>
  </div>
</nav>

<body class="container-fluid bg-light">
  <div class="container-fluid bg-light" *ngIf=displaydiv>
    <div class="row">
      <div class="col-md-6">
        <small class="searchsmall">Start searching for a charity or volunter by name or country</small>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Volunter Name</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let volunteer of listvolunteersearch | filter:searchText">
              <td (click)="govolunteer(volunteer)">{{volunteer.fname }} {{volunteer.lname}}</td>
              <td>{{volunteer.country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Charity Name</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let charity of listcharitysearch | filter:searchText">
              <td (click)="gocharity(charity)">{{charity.name}}</td>
              <td>{{charity.country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class=" row pr-5 pl-5 pb-5">
    <div class="col-md-3  pr-4 pl-4 ">
      <div class="shadow myprofile" style="border-radius: 4%;">
        <div class="" style="background-color: #3B6D8C;height: 80px;text-align: center;">
          <img [src]="profileimageee" class=" profileimage mt-5"> </div>
        
        <div style="text-align: center;background-color: white;">
          <a [routerLink]="['charity/account']" style="text-decoration: none;color:#3B6D8C" class="bg-dark">
            <h5 class="pt-5">{{charitydetaile.name}}</h5>
          </a>

          <p style="color: gray;">charity</p>
          <hr>
          <div class="followdiv" >
            <h6 style="color: grey;" (click)="Folllowing(charitydetaile)">Following</h6>
            <p>22</p>
          </div>

          <div *ngIf="following">
            <p>{{charitydetaile.Following}}</p>

          </div>

          <div class="followdiv">
            <h6 style="color: grey;"><a>Followors</a></h6>
            <p>22</p>
          </div>
          <hr>
          <div class="viewprofile pb-4">
            <a [routerLink]="['charity/account']">view profile</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 pr-4 pl-4">
      <div class="row shadow writepost  mb-4">

        <img [src]="profileimageee" class="profileimg mt-4">
        <input type="submit" name="post" value="Post" data-toggle="modal" data-target="#post"
          class="btn maincolor mt-4 mr-2 pr-2 text-light postbtn">

        <div class="modal fade" id="post" role="dialog">
          <div class="modal-dialog">


            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title text-light">Post</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form #post="ngForm" novalidate (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="text" class="form-control postForm" name="title" #title="ngModel" required
                      [(ngModel)]="newPost.title" placeholder="Title of Post" name="title">
                    <br>
                    <textarea class=" form-control postForm" rows="5" id="comment" #content="ngModel"
                      [(ngModel)]="newPost.content" placeholder="what are in your mind " name="content"></textarea>
                  </div>
                  <div class="row modal-footer">
                    <input type="submit" class="btn maincolor img-vedio-btn text-light" [disabled]="post.form.invalid"
                      value="post">
                    <button class=" btn maincolor mr-3 text-light" data-dismiss="modal">close</button>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>

     

      <div id="secondpost" class="row shadow mb-4"  *ngFor='let post of Allpost'>
        <div class="col-md-11    mr-5 mt-2  pb-0">
          <div class="row">
            <img [src]="profileimageee" class="cricle-img " height="40px">
            

            <div class="mt-2 ml-2" *ngIf="postedBycharity(post.postedby,postedByCharity._id)">

              <h6>{{postedByCharity.name}}</h6>
            </div>

            <div class="mt-2 ml-2" id="posttedby"  *ngIf="postedByvolunteer(post.postedby,postedByVolunteer._id)">

              <h6>{{postedByVolunteer.fname}} {{postedByVolunteer.lname}}</h6>
            </div>
           
          </div>
         
        </div>
      
        <div class=" col-12 ml-3 mr-3 pt-3 mt-0">
          <h6>{{post.title}}</h6>

          <p>{{post.content}} </p>
          <hr>
             </div>
             
        <div class="row ml-2  postfooter">
          <div class="mr-3 ml-3">
            
            <p><i class="fas fa-heart mr-1"></i>like</p>
          </div>
          <div>
            <p><i class="fas fa-comment mr-1 ml-3"></i>comment</p>
          </div>
        </div>

        <hr>

      </div>

      <div class="row mt-3  mb-4 pb-4 shadow">
        <div class="col-12">
          <h5 class="mt-3 ml-4">Top profiles</h5>
        </div>


        <div class="col-md-4 col-sm-9">
          <div class="card mt-4 mb-3" style="width:100%; text-align: center;">
            <img class="cricle-img mt-3" src="../../assets/download.jpg" alt="Card image"
              style="width:50%;margin: auto;">
            <div class="card-body">
              <h4 class="card-title">Joh Doe</h4>
              <p class="card-text">Some example text some example text.</p>
              <div style="text-align: center;">
                <input type="button" class="btn maincolor" value="Follow">
              </div>


            </div>
          </div>

        </div>

        <div class="col-md-4 col-sm-9">
          <div class="card mt-4 mb-3 " style="width:100%; text-align: center;">
            <img class="cricle-img mt-3" src="../../assets/download.jpg" alt="Card image"
              style="width:50%;margin: auto;">
            <div class="card-body">
              <h4 class="card-title">Joh Doe</h4>
              <p class="card-text">Some example text some example text.</p>
              <a href="#" class="btn maincolor">follow</a>
            </div>
          </div>

        </div>
        <div class="col-md-4 col-sm-9">
          <div class="card mt-4 mb-3" style="width:100%; text-align: center;">
            <img class="cricle-img mt-3" src="../../assets/download.jpg" alt="Card image"
              style="width:50%;margin: auto;">
            <div class="card-body">
              <h4 class="card-title">Joh Doe</h4>
              <p class="card-text">Some example text some example text.</p>
              <a class="btn maincolor">follow</a>
            </div>
          </div>

        </div>





      </div>



      <div id="secondpost" class="row shadow  mb-4">
        <div class="row ml-2 mr-5">
          <span>
            <img [src]="profileimageee"class="cricle-img " height="40px">
            hope
           
          </span>
        </div>
        <hr>
        <div class="row ml-3 mr-3 ">
          <h5 class="mt-3 mb-2">post title</h5>
          <br>
          <img src="../../assets/download.jpg" class="w-100">
          <br>
          <p>Jung Ho-seok (Korean: 정호석; born February 18, 1994), better known by his stage name J-Hope
            (stylized as j-hope), is a South Korean rapper, songwriter, dancer, and record producer. In
            2013, J-Hope made his debut as a member of the South Korean boy band BTS, managed under Big Hit
            Entertainment.
          </p>
          <div class="row ml-2 postfooter">
            <div class="mr-3">
              <p><i class="fas fa-heart mr-1"></i>like</p>
            </div>

            <div>
              <p><i class="fas fa-comment mr-1"></i>comment</p>
            </div>

          </div>
        </div>
        <hr>

      </div>
    </div>

    <div class="col-md-3 pl-2 pr-4">

      <div class="suggestions-list bg-white mt-4 shadow">
        <h5 class="pl-3 mt-3 mb-3">Suggestions</h5>
      
        <hr>
        <div class="row" *ngFor="let charity of charities">
        
          <div id="charitysuggest" class="col-md-12 suggestion-usd  " *ngFor="let charity of charitydetails; let index = index ">
            <img [src]="charity.img.substr(12)" class="cricle-img" alt="">
            <div class="sgt-text">
              <h4 class="mb-0">{{ charity.name}}</h4>
              <span>{{ charity.country}}</span>
            </div>
            <span class="pr-2 ml-4"  id="addfolloing" attr.id="{{charity._id}}" (click)="follow(charity)">
              <i class="fa fa-plus"></i>
            </span>
          </div>


          
<!-- attr.id="{{charity._id}}" -->
            <span class="pr-1" attr.id="{{charity.email}}" style="display: none;">
              <i class="far fa-check-circle" style="color: #3B6D8C;"></i>
            </span>
          </div>
        </div>
      

      </div>


    </div>




</body>

</html>