#myVideo {
  /* top: 9%;
  right: 0;
  bottom: 0;  */
  z-index: -100;
  min-width: 100%;
  min-height: 580px;
}

.home_layout {
  position: relative;

  height: 580px;
}

.content {
  position: absolute;
  z-index: 212545;

  top: 0%;
  /* right: 0;
  bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 580px;

  /* padding: 20px; */
}

.content h1 {
  font-family: "Nike TG", "Arial black", "Arial Bold", Arial, sans-serif;
  font-size: 80px;
  line-height: 1.5;
  color: white;
  text-align: center;
  margin-top: 17%;
}

.content span {
  color: #AFBF34;
  font-family: "Nike TG", "Arial black", "Arial Bold", Arial, sans-serif;
  font-size: 80px;
  line-height: 1.5;
  text-align: center;

}
