<app-navbar></app-navbar>

<div class="container-fluid  home_layout mb-3">
  <div class="row">
    <div class="col-md-12  p-0 overflow-hidden">
      <video autoplay onloadedmetadata="this.muted=true" loop id="myVideo">
        <source
          src="https://player.vimeo.com/external/228135052.sd.mp4?s=c769fd9e94dcfdd9aafb53c863ec87662063c1f4&profile_id=165"
          type="video/mp4" />
      </video>

    </div>


    <div class="content ">
      <!-- <div class="button2 col-md-12">
        <span>Login</span>
      <div class="button2 col-md-12">
        <span  routerLink="/login" >Login</span>
      </div>
      <div class="button3 col-md-12">
        <span>SignUp</span>
      </div> -->
      <h1>Save Them<span>.</span></h1>
    </div>


  </div>
</div>
<app-aboutus></app-aboutus>
<app-howitwork></app-howitwork>
<app-contact></app-contact>
<app-footer></app-footer>
