<app-navbar></app-navbar>

<div class="container-fluid">

  <div class="row">
    <img src="../../assets/3.jpg" class="backgroundimg">
    <div class="col-6 pt-3 pb-3 logindiv ">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <div class="form-gap"></div>
       <div class="container-fluid">
           <div class="row">
               <div class=" col-md-8 ">
                   <div class="panel panel-default ">
                     <div class="panel-body p-5  bg-light">
                       <div class="text-center">
                         <h3><i class="fa fa-lock fa-4x"></i></h3>
                         <h2 class="text-center">Reset Password</h2>
                         <p>You can reset your password here.</p>
                         <div class="panel-body">
           
                           <form id="register-form" role="form" #emailForm="ngForm" novalidate (ngSubmit)="onSubmit()" class="form">
                            <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                <input id="email"required [class.is-invalid]="email.invalid && email.touched"
                                #email="ngModel" [(ngModel)]="userModel.email"  placeholder="Your E.mail" class="form-control"  name="email" placeholder="Your E.mail" type="text">
                              
                              </div>
                              <small class="text-danger " [class.d-none]="email.valid || email.untouched">E.mail is
                                Required</small>
                            </div>
    
                            
                             <div class="form-group">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                <input id="password"required [class.is-invalid]="password.invalid && password.touched"
                                #password="ngModel" [(ngModel)]="userModel.password"  class="form-control"  name="password" placeholder="New Password" type="password">
                              
                              </div>
                              <small class="text-danger " [class.d-none]="password.valid || password.untouched">password is
                                Required</small>
                            </div>
                             <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                  <input id="confirmpassword"    #confirm="ngModel" [(ngModel)]="userModel.confirm" appConfirmEqualValidator="password" name="confirm" placeholder="Confirm Password" required class="form-control"  type="password">
                                </div>
                                <small class="text-danger " *ngIf="confirm.touched && confirm.errors?.required">Confirm password is
                                  Required</small>
                                  <small class="text-danger " *ngIf="confirm.touched && confirm.errors?.notEqual && !confirm.errors?.required " >Confirm password is
                                    not matched</small>
                                
                              </div>
                             
                             <div class="form-group">
                               <input name="recover-submit" [disabled]="emailForm.form.invalid"  class="btn btn-lg btn-block" style="background-color: #3B6D8C;color:white" value="Reset Password" type="submit">
                             </div>
                             
                           </form>
           
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
           </div>
       </div>



    </div>



  </div>
</div>
<app-footer></app-footer>
