<body>
  <div class="main">
    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
        <div class="signup-content">
          <h2 class="form-title">Create account</h2>
          <a (click)="charityregister()" class="button1">Charity</a>
          <a (click)="volunregister()" class="button1">Volunteer</a>
          <div class="charity" *ngIf="ischarity">
            <form method="POST" #userForm="ngForm" novalidate (ngSubmit)="onSubmit()" id="signup-form"
              class="signup-form">
              <h4 style="color:red;text-align: center;">{{ charityerror }}</h4>

              <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" #name="ngModel"
                  [class.is-invalid]="name.invalid && name.touched" required [(ngModel)]="charitymodel.name"
                  placeholder="Your Name" />
                <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched" required placeholder="Your Email"
                  [(ngModel)]="charitymodel.email" />
                <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched" required placeholder="Password"
                  [(ngModel)]="charitymodel.password" />
                <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
              </div>
              <!-- <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="re_password"
                  id="re_password"
                  #re_password="ngModel"
                  [class.is-invalid]="
                    re_password.invalid && re_password.touched
                  "
                  required
                  placeholder="Repeat your password"
                  [(ngModel)]="charitymodel.re_password"
                />
              </div> -->
              <div class="form-group">
                <input type="text" class="form-control" name="bankaccount" id="bankaccount" #bankaccount="ngModel"
                  [class.is-invalid]="
                    bankaccount.invalid && bankaccount.touched
                  " required placeholder="Enter Your Bank Account Number" [(ngModel)]="charitymodel.bankaccount" />
                <small [class.d-none]="bankaccount.valid || bankaccount.untouched" class="text-danger">Bank Account is
                  required</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="country" id="country" #country="ngModel"
                  [class.is-invalid]="country.invalid && country.touched" required placeholder="Enter Your Country"
                  [(ngModel)]="charitymodel.country" />
              </div>
              <div class="form-group">
                <input type="text" #address="ngModel" [class.is-invalid]="address.invalid && address.touched" required
                  class="form-control" [(ngModel)]="charitymodel.address" placeholder="Enter your Address"
                  name="address" />
                <small [class.d-none]="address.valid || address.untouched" class="text-danger">Address is
                  required</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter Your Phone"
                  #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" pattern="^\d{11}$" required
                  [(ngModel)]="charitymodel.phone" />
                <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                  <small class="text-danger" *ngIf="phone.errors.required && phone.touched">Phone number is
                    required</small>
                  <small class="text-danger" *ngIf="phone.errors.pattern && phone.touched">Phone number must be 11
                    digits</small>
                </div>
              </div>
              <div class="form-group">
                <label>Choose an image</label>
                <input type="file" class="form-input" name="img" id="img" #img="ngModel"
                  [class.is-invalid]="img.invalid && img.touched" required placeholder="Enter your image"
                  [(ngModel)]="charitymodel.img" />
                <small [class.d-none]="img.valid || img.untouched" class="text-danger">Image is required</small>
              </div>

              <div class="form-group">
                <input type="submit" name="submit" [disabled]="userForm.form.invalid" class="form-submit"
                  value="Sign up" />
              </div>
            </form>
          </div>

























          <!--VOLUNTEER-->
          <div class="volunteer" *ngIf="isvolunteer">
            <form method="POST" name="logInputForm" #volunteerForm="ngForm" novalidate (ngSubmit)="onSubmitvolunteer()"
              class="signup-form">
              <h4 style="color:red;text-align: center;">{{ volunteererror }}</h4>

              <div class="form-group">
                <input type="text" class="form-control" name="fname" placeholder="Your First Name" #fname="ngModel"
                  [class.is-invalid]="fname.invalid && fname.touched" required [(ngModel)]="volunteersignup.fname" />
                <small [class.d-none]="fname.valid || fname.untouched" class="text-danger">First Name is
                  required</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="lname" placeholder="Your Last Name" #lname="ngModel"
                  [class.is-invalid]="lname.invalid && lname.touched" required [(ngModel)]="volunteersignup.lname" />
                <small [class.d-none]="lname.valid || lname.untouched" class="text-danger">Last Name is required</small>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your Email" #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched" required [(ngModel)]="volunteersignup.email" />
                <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched" required
                  [(ngModel)]="volunteersignup.password" />
                <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password is
                  required</small>

                <!-- <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span> -->
              </div>
              <!-- <div class="form-group">
                <input type="password" class="form-control" name="re_password" 
                  placeholder="Repeat your password" #re_password="ngModel" [class.is-invalid]=" re_password.invalid && re_password.touched" required [(ngModel)]="volunteersignup.re_password" />
                  <small [class.d-none]="re_password.valid || re_password.untouched" class="text-danger">Repeat your password is required</small>
  
              </div> -->
              <div class="form-group">
                <input type="text" class="form-control" name="Age" placeholder="Enter Your Age" #Age="ngModel"
                  [class.is-invalid]="Age.invalid && Age.touched" required [(ngModel)]="volunteersignup.Age" />
                <small [class.d-none]="Age.valid || Age.untouched" class="text-danger">Age is required</small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Enter Your Phone" #phone="ngModel"
                  [class.is-invalid]="phone.invalid && phone.touched" required pattern="^\d{11}$"
                  [(ngModel)]="volunteersignup.phone" />
                <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                  <small [class.d-none]="phone.valid || phone.untouched" class="text-danger">Phone is required</small>
                  <small class="text-danger" *ngIf="phone.errors.pattern && phone.touched">Phone number must be 11
                    digits</small>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="country" placeholder="Enter Your Country"
                  #country="ngModel" [class.is-invalid]="country.invalid && country.touched" required
                  [(ngModel)]="volunteersignup.country" />
                <small [class.d-none]="country.valid || country.untouched" class="text-danger">Country is
                  required</small>
              </div>
              <div class="form-group">
                <label>Choose an image</label>
                <input type="file" ng2FileSelect [uploader]="uploader" ENCTYPE="multipart/form-data"
                  (change)="onfileselected($event)" class="form-control" name="img" placeholder="Choose Your image"
                  #img="ngModel" [class.is-invalid]="img.invalid && img.touched" required
                  [(ngModel)]="volunteersignup.img" />

                <small [class.d-none]="img.valid || img.untouched" class="text-danger">Image is required</small>
                <!-- <div *ngIf="fileUploadProgress">
                  Upload progress: {{ fileUploadProgress }}
                </div>
                <div class="image-preview mb-3" *ngIf="previewUrl">
                  <img [src]="previewUrl" height="300" />
                </div>

                <div class="mb-3" *ngIf="uploadedFilePath">
                  {{ uploadedFilePath }}
                </div> -->
              </div>

              <div class="form-group">
                <input type="submit" name="submit"
                  [disabled]="volunteerForm.form.invalid && !uploader.getNotUploadedItems().length" class="form-submit"
                  class="btn btn-success btn-s" (click)="uploader.uploadAll()" value="Sign up" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
