<footer class="container-fluid m-0 py-3 overflow-hidden">
  <div class="row">
    <div class="footer_header col-md-5 col-sm-12 p-2">
      <div id="utility" class="row socialul">
        <div class="yui3-g ">
          <div class="yui3-u-1">
            <ul class="social">
              <li>
                <a href="">
                  <i class="fa fa-facebook">&nbsp;
                  </i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-instagram">&nbsp;</i>
                </a></li>
              <li>
                <a href="">
                  <i class="fa fa-twitter"> &nbsp;</i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-pinterest">&nbsp;</i>
                </a></li>
              <li>
                <a href="">
                  <i class="fa fa-youtube">&nbsp;</i>
                </a></li>
              <li><a href="">
                  <i class="fa fa-snapchat-ghost">&nbsp;</i>
                </a></li>
              <li>
                <a href="">
                  <i class="fa fa-linkedin">&nbsp;</i>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_main col-md-7 col-sm-12 ">
      <ul>
        <li>
          <a routerLink="/home">Home |</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/home">
            About Us | </a>
        </li>
        <li>
          <a routerLink="/home">How It Work |</a>
        </li>
        <li>
          <a routerLink="/home">Contact Us </a>
        </li>

      </ul>
    </div>
  </div>
</footer>
