ul {
  list-style-type: none;
  width: 200%;
}

.footer_header {
  background-color: #3B6D8C;


}

.footer_header ul {
  margin-top: 2%
}

ul li {
  float: left;
  margin-left: 1%;

}

i {
  font-size: 25px;
  color: white
}

.footer_main {
  background-color: #3B6D8C;

}

.footer_main ul li:hover a {
  color: #AFBF34
}

i:hover {
  color: #AFBF34
}

footer {
  background-color: #3B6D8C;
  border-top: 3px solid white;
}

a {
  text-decoration: none;
}

.footer_main ul li a {
  color: white;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  text-decoration: under;

}

.footer_main ul li {
  margin-left: 1%;
}

.footer_main ul {
  margin-left: 27%;
}

.footer_main ul {
  margin-top: 3%;
}

@media screen and (max-width: 600px) {
  .footer_header ul {
    margin-left: 40%;
  }

  .footer_main {
    margin-right: 52%
  }


}
