<footer class="c-footer">
    <div id="footer">
        <div class="yui3-g">
            <div class="row yui3-u-1">
                <div id="utility" class="row socialul">
                    <div class="yui3-g ">
                        <div class="yui3-u-1">
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook">&nbsp;
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-instagram">&nbsp;</i>
                                    </a></li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-twitter"> &nbsp;</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-pinterest">&nbsp;</i>
                                    </a></li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-youtube">&nbsp;</i>
                                    </a></li>
                                <li><a href="">
                                        <i class="fa fa-snapchat-ghost">&nbsp;</i>
                                    </a></li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-linkedin">&nbsp;</i>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row c-footer__links-wrapper">
                    <div class="row c-footer__links" style="margin-top: 30px;">
                            <div class="col-4 ">
                                <div class="footer-links-primary">

                                    <h4 class="footer-links-title">
                                        Ways to Give
                                    </h4>
                                    <ul class="footer-links">
                                        <li> <a href="">Sponsor a Child</a> </li>
                                        <li><a href="">Ways to Donate</a></li>
                                        <li><a href="">Youth Development </a></li>
                                        <li><a href="">Meet Critical Needs</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-4 ">
                                <div class="footer-links-primary">

                                    <h4 class="footer-links-title">
                                        Ways to Give
                                    </h4>
                                    <ul class="footer-links">
                                        <li> <a href="">Sponsor a Child</a> </li>
                                        <li><a href="">Ways to Donate</a></li>
                                        <li><a href="">Youth Development </a></li>
                                        <li><a href="">Meet Critical Needs</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-4 ">
                                <div class="footer-links-primary">

                                    <h4 class="footer-links-title">
                                        Ways to Give
                                    </h4>
                                    <ul class="footer-links">
                                        <li> <a href="">Sponsor a Child</a> </li>
                                        <li><a href="">Ways to Donate</a></li>
                                        <li><a href="">Youth Development </a></li>
                                        <li><a href="">Meet Critical Needs</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>