<div class="container-fluid">
    <div class="row">
    <img src="../../../assets/fb9fLIXXL8.jpg" alt="" class="rounded coverimg">
</div>
<div class="row">
<div class="col-4 bg-light">
<div class="row">
<div class="row imgdivs">
    <img src="../../../assets/fb9fLIXXL8.jpg" class="rounded-circle d-block mx-auto proimg" alt="">
</div>
<div class="row">
    <button href="#" title="" class="flww"><i class="fas fa-plus"></i> Follow</button>
</div>
</div>
<div class="row">

</div>
</div>
<div class="col-4 bg-dark">
dfs
</div>
<div class="col-4 bg-primary">
sdfg
</div>
</div>
</div>