<div class="container-fluid">
    <div class="row">
        <img src="../../../assets/2uONJKZYCR.jpg" alt="" class="rounded coverimg">
    </div>
    <div class="row">
        <div class="col-sm-3 bg-light">
            <div class="row">
                <div class="row imgdivs">
                    <img src="../../../assets/2uONJKZYCR.jpg" class="rounded-circle d-block mx-auto proimg" alt="">
                </div>
                <div class="row">
                    <ul>
                        <li>
                            <button href="#" title="" class="flww">
                                + Follow</button>
                        </li>
                        <li>
                            <a class="followers">
                                <div>Followers
                                    <p>155</p>
                                </div>

                            </a>
                        </li>
                    </ul>
                    <ul class="social_links">
                        <li><a href="#" title="">
                                <i class="fa fa-facebook"></i>
                                Http://www.facebook.com/john...</a></li>
                        <li><a href="#" title="">
                                <i class="fa fa-twitter"></i>
                                Http://www.Twitter.com/john...</a></li>
                        <li><a href="#" title="">
                                <i class="fa fa-google-plus-square"></i>
                                Http://www.googleplus.com/john...</a></li>
                        <li><a href="#" title="">
                                <i class="fa fa-pinterest"></i>
                                Http://www.pinterest.com/john...</a></li>
                        <li><a href="#" title="">
                                <i class="fa fa-instagram"></i>
                                Http://www.instagram.com/john...</a></li>
                        <li><a href="#" title="">
                                <i class="fa fa-youtube"></i>
                                Http://www.youtube.com/john...</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 bg-light">
            <div class="middilcontant">
                <div class="user-tab-sec">
                    <h3>charity name</h3>
                    <div class="star-descp">
                        <span>Established Since 2009</span>
                        <ul>
                            <li> <i class="fa fa-star-o"></i></li>
                            <li> <i class="fa fa-star-o"></i></li>
                            <li> <i class="fa fa-star-o"></i></li>
                            <li> <i class="fa fa-star-o"></i></li>
                            <li> <i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                    <!--star-descp end-->
                    <div class="tab-feed">
                        <ul>
                            <li data-tab="feed-dd" class="active animated fadeIn">
                                <a href="feed-dd" title="">
                                    <img src="../../../assets/ic1.png" alt="">
                                    <span>Feed</span>
                                </a>
                            </li>
                            <li data-tab="info-dd">
                                <a href="info-dd" title="">
                                    <img src="../../../assets/ic2.png" alt="">
                                    <span>Info</span>
                                </a>
                            </li>
                            <li data-tab="portfolio-dd" class="animated fadeIn">
                                <a href="portfolio-dd" title="">
                                    <img src="../../../assets/ic3.png" alt="">
                                    <span>Portfolio</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- tab-feed end-->
                </div>
                <!--user-tab-sec end-->
                <div class="product-feed-tab current animated fadeIn" id="feed-dd">
                    <div class="posts-section">
                        <div class="post-bar">
                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <img src="../../../assets/profile.jpg" alt="">
                                    <div class="usy-name">
                                        <h3>Charity name</h3>
                                    </div>
                                </div>
                                <!-- <div class="ed-opts">
                                    <a href="#" title="" class="ed-opts-open">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="ed-options">
                                        <li><a href="#" title="">Edit Post</a></li>
                                        <li><a href="#" title="">Unsaved</a></li>
                                        <li><a href="#" title="">Unbid</a></li>
                                        <li><a href="#" title="">Close</a></li>
                                        <li><a href="#" title="">Hide</a></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="epi-sec">
                                <ul class="descp">
                                    <li><img src="../../../assets/icon9.png" alt=""><span>India</span></li>
                                </ul>
                                <ul class="bk-links">
                                    <li><a href="#" title="">
                                        <i class="fa fa-bookmark"></i>
                                    </a></li>
                                    <li><a href="#" title="">
                                        <i class="fa fa-envelope"></i>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="job_descp">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... 
                                    <a href="#"
                                        title="">view more</a>
                                    </p>
                            </div>
                            <div class="job-status-bar">
                                <ul class="like-com">
                                    <li>
                                        <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                                        <span>25</span>
                                    </li>
                                    <li><a href="#" class="com">
                                        <i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--post-bar end-->
                        <div class="post-bar">
                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <img src="../../../assets/profile.jpg" alt="">
                                    <div class="usy-name">
                                        <h3>Charity name</h3>
                                    </div>
                                </div>
                                <!-- <div class="ed-opts">
                                    <a href="#" title="" class="ed-opts-open">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="ed-options">
                                        <li><a href="#" title="">Edit Post</a></li>
                                        <li><a href="#" title="">Unsaved</a></li>
                                        <li><a href="#" title="">Unbid</a></li>
                                        <li><a href="#" title="">Close</a></li>
                                        <li><a href="#" title="">Hide</a></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="epi-sec">
                                <ul class="descp">
                                    <li><img src="../../../assets/icon9.png" alt=""><span>India</span></li>
                                </ul>
                                <ul class="bk-links">
                                    <li><a href="#" title="">
                                        <i class="fa fa-bookmark"></i>
                                    </a></li>
                                    <li><a href="#" title="">
                                        <i class="fa fa-envelope"></i>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="job_descp">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... 
                                    <a href="#"
                                        title="">view more</a>
                                    </p>
                            </div>
                            <div class="job-status-bar">
                                <ul class="like-com">
                                    <li>
                                        <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                                        <span>25</span>
                                    </li>
                                    <li><a href="#" class="com">
                                        <i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--post-bar end-->
                        <div class="post-bar">
                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <img src="../../../assets/profile.jpg" alt="">
                                    <div class="usy-name">
                                        <h3>Charity name</h3>
                                    </div>
                                </div>
                                <!-- <div class="ed-opts">
                                    <a href="#" title="" class="ed-opts-open">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="ed-options">
                                        <li><a href="#" title="">Edit Post</a></li>
                                        <li><a href="#" title="">Unsaved</a></li>
                                        <li><a href="#" title="">Unbid</a></li>
                                        <li><a href="#" title="">Close</a></li>
                                        <li><a href="#" title="">Hide</a></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="epi-sec">
                                <ul class="descp">
                                    <li><img src="../../../assets/icon9.png" alt=""><span>India</span></li>
                                </ul>
                                <ul class="bk-links">
                                    <li><a href="#" title="">
                                        <i class="fa fa-bookmark"></i>
                                    </a></li>
                                    <li><a href="#" title="">
                                        <i class="fa fa-envelope"></i>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="job_descp">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... 
                                    <a href="#"
                                        title="">view more</a>
                                    </p>
                            </div>
                            <div class="job-status-bar">
                                <ul class="like-com">
                                    <li>
                                        <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                                        <span>25</span>
                                    </li>
                                    <li><a href="#" class="com">
                                        <i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--post-bar end-->
                        <div class="post-bar">
                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <img src="../../../assets/profile.jpg" alt="">
                                    <div class="usy-name">
                                        <h3>Charity name</h3>
                                    </div>
                                </div>
                                <!-- <div class="ed-opts">
                                    <a href="#" title="" class="ed-opts-open">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="ed-options">
                                        <li><a href="#" title="">Edit Post</a></li>
                                        <li><a href="#" title="">Unsaved</a></li>
                                        <li><a href="#" title="">Unbid</a></li>
                                        <li><a href="#" title="">Close</a></li>
                                        <li><a href="#" title="">Hide</a></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="epi-sec">
                                <ul class="descp">
                                    <li><img src="../../../assets/icon9.png" alt=""><span>India</span></li>
                                </ul>
                                <ul class="bk-links">
                                    <li><a href="#" title="">
                                        <i class="fa fa-bookmark"></i>
                                    </a></li>
                                    <li><a href="#" title="">
                                        <i class="fa fa-envelope"></i>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="job_descp">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... 
                                    <a href="#"
                                        title="">view more</a>
                                    </p>
                            </div>
                            <div class="job-status-bar">
                                <ul class="like-com">
                                    <li>
                                        <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                                        <span>25</span>
                                    </li>
                                    <li><a href="#" class="com">
                                        <i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--post-bar end-->
                        <div class="post-bar">
                            <div class="post_topbar">
                                <div class="usy-dt">
                                    <img src="../../../assets/profile.jpg" alt="">
                                    <div class="usy-name">
                                        <h3>Charity name</h3>
                                    </div>
                                </div>
                                <!-- <div class="ed-opts">
                                    <a href="#" title="" class="ed-opts-open">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="ed-options">
                                        <li><a href="#" title="">Edit Post</a></li>
                                        <li><a href="#" title="">Unsaved</a></li>
                                        <li><a href="#" title="">Unbid</a></li>
                                        <li><a href="#" title="">Close</a></li>
                                        <li><a href="#" title="">Hide</a></li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="epi-sec">
                                <ul class="descp">
                                    <li><img src="../../../assets/icon9.png" alt=""><span>India</span></li>
                                </ul>
                                <ul class="bk-links">
                                    <li><a href="#" title="">
                                        <i class="fa fa-bookmark"></i>
                                    </a></li>
                                    <li><a href="#" title="">
                                        <i class="fa fa-envelope"></i>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="job_descp">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit
                                    metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... 
                                    <a href="#"
                                        title="">view more</a>
                                    </p>
                            </div>
                            <div class="job-status-bar">
                                <ul class="like-com">
                                    <li>
                                        <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                                        <span>25</span>
                                    </li>
                                    <li><a href="#" class="com">
                                        <i class="fas fa-comment-alt"></i> Comments 15</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--post-bar end-->
                        <!-- <div class="process-comm">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div> -->
                        <!--process-comm end-->
                    </div>
                    <!--posts-section end-->
                </div>
                <!--product-feed-tab end-->
                <div class="product-feed-tab" id="info-dd">
                    <div class="user-profile-ov">
                        <h3><a href="#" title="" class="overview-open">Overview</a> <a href="#" title=""
                                class="overview-open"><i class="fa fa-pencil"></i></a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec
                            condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus
                            consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus.
                            Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum
                            scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue.
                            Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Donec eget vestibulum lorem.</p>
                    </div>
                    <!--user-profile-ov end-->
                </div>
                <!--product-feed-tab end-->
                <div class="product-feed-tab animated fadeIn" id="portfolio-dd">
                    <div class="portfolio-gallery-sec">
                        <h3>Portfolio</h3>
                        <div class="gallery_pf">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img1.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img2.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img3.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img4.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img5.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img6.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img7.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img8.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img9.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="gallery_pt">
                                        <img src="images/resources/pf-img10.jpg" alt="">
                                        <a href="#" title=""><img src="images/all-out.png" alt=""></a>
                                    </div>
                                    <!--gallery_pt end-->
                                </div>
                            </div>
                        </div>
                        <!--gallery_pf end-->
                    </div>
                    <!--portfolio-gallery-sec end-->
                </div>
                <!--product-feed-tab end-->
            </div>
            <!--main-ws-sec end-->

        </div>
        <div class="col-sm-3 bg-light">
            <div class="row">
                <div class="suggestions full-width">
                    <div class="sd-title">
                        <h3>Suggestions</h3>
                        <i class="fa fa-ellipsis-v"></i>
                    </div>
                    <!--sd-title end-->
                    <div class="suggestions-list">
                        <div class="suggestion-usd">
                            <img src="../../../assets/profile.jpg" alt="">
                            <div class="sgt-text">
                                <h4>caharity name</h4>
                                <span>country</span>
                            </div>
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <div class="suggestion-usd">
                            <img src="../../../assets/profile.jpg" alt="">
                            <div class="sgt-text">
                                <h4>caharity name</h4>
                                <span>country</span>
                            </div>
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <div class="suggestion-usd">
                            <img src="../../../assets/profile.jpg" alt="">
                            <div class="sgt-text">
                                <h4>caharity name</h4>
                                <span>country</span>
                            </div>
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <div class="suggestion-usd">
                            <img src="../../../assets/profile.jpg" alt="">
                            <div class="sgt-text">
                                <h4>caharity name</h4>
                                <span>country</span>
                            </div>
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                        <div class="view-more">
                            <a href="#" title="">View More</a>
                        </div>
                    </div>
                    <!--suggestions-list end-->
                </div>
            </div>
        </div>
    </div>
</div>