a {
    text-decoration: none;
  }
  
  .profile_background {
    width: 100%;
    height: 330px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-simple-small-fresh-watercolor-company-profile-ppt-background-image_260406.jpg");
    ;
    background-size: 100% 100%;
  }
  
  .clr {
    clear: both
  }
  
  .btnprofile {
    float: right;
    margin-right: 10%;
    border-radius: 3%;
    margin-top: 50px;
    background-color: white;
    padding: 0.5% 1.2% 0.5% 1.2%;
    border: 3px solid #3B6D8C;
    transition: all 0.4s;
  
  
  }
  
  .profile_background a {
    color: #3B6D8C;
    text-decoration: none;
  
  
    /* display: inline */
  }
  
  .profile_background .btn:hover {
    background-color: #3B6D8C;
  }
  
  .btn:hover a {
    color: white;
  
  }
  
  .account_details {
    margin-left: 5%;
    margin-right: 3%;
    background-color: #f2f2f2;
  }
  
  .profile_img {
    margin-left: 20%;
    position: absolute;
    top: -100px;
    border: 5px solid white;
    border-radius: 65%;
  }
  
  .folowing_details {
    margin-left: 6%;
  }
  
  .folowing_details div {
    float: left;
  }
  
  .folowing_details p {
    font-size: 20px;
    color: black;
    text-align: center;
  }
  
  .folowing_details span {
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 3%;
  }
  
  .right_container {
    width: 80%;
    background-color: white;
    margin-left: 10%;
    padding-top: 40%;
  
  }
  
  .profile_links div {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  
  }
  
  .profile_links i {
    color: #3B6D8C;
    font-size: 15px;
    display: inline-block;
    margin-right: 5%;
  }
  
  .profile_links a {
    text-decoration: none;
  }
  
  .account_main {
    padding-top: 5%;
    background-color: #f2f2f2;
    /* margin-right: 3%; */
  }
  
  .account_headline h1 {
    color: black
  }
  
  .account_headline p {
    color: #333;
    font-size: 15px;
    margin-bottom: 8%;
  }
  
  .account_headline span {
    margin-left: 5%
  }
  
  .account_headline i {
    color: #AFBF34;
    margin-right: 2%;
  }
  
  ul li {
    float: left;
    margin-right: 4%;
  
  }
  
  ul i {
    display: block;
    color: whitesmoke
  }
  
  ul a {
    color: grey;
  }
  
  ul a:visited {
    color: #3B6D8C
  }
  
  .account_main button {
  
    background-color: #3B6D8C;
    float: right;
    margin-right: 10%;
    border-radius: 3%;
    padding: 1% 2% 1% 2%;
    border: 3px solid #3B6D8C;
  }
  
  .account_main button a {
    color: white
  }
  
  .posts .post {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
  }
  
  .post {
    padding-top: 4%;
    padding-right: 2%;
    margin-bottom: 5%;
  
    padding-left: 2%;
    background-color: white;
    border-radius: 3%;
  }
  
  .post p {
    margin-top: 3%;
    margin-left: 2%
  }
  
  .reactions {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2%;
  
  }
  
  .reactions a {
    color: grey;
    margin-right: 9%;
    margin-left: 2%
  }
  
  .reactions a:hover {
    color: #3B6D8C;
  }
  
  .contain {
    background-color: #f2f2f2;
    position: relative;
  }
  
  .tab_feed {
    margin: 0px
  }
  
  ul {
    margin-left: -5%;
  }
  
  .needs{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  
  }
  .provides{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  
  }
  .post_topbar {
    float: left;
    width: 100%;
    position: relative;
}
.usy-dt {
  float: left;
}
.usy-name {
  float: left;
  /* margin-left: 15px; */
  margin-top: 4%;
}
.usy-name h5 {
  color: #000000;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  float: left;
}
.ed-opts {
  float: right;
  position: relative;
  top: 7px;
}
.ed-opts > a {
  color: #3B6D8C;
  font-size: 20px;
  float: right;
  position: relative;
  left: -10px;
  top: -10px;
}
.ed-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  box-shadow: 0 0 10px rgba(0,0,0,0.28);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.ed-options li {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.ed-options li a {
  color: #686868;
  font-size: 14px;
  font-weight: 600;
}

.post-opts {
  float: right;
  position: relative;
  top: -25px;
}
.post-opts > a {
  color: #3B6D8C;
  font-size: 20px;
  float: right;
  position: relative;
  left: -10px;
  top: -10px;
}
.post-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
  box-shadow: 0 0 10px rgba(0,0,0,0.28);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.post-options li {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.post-options li a {
  color: #686868;
  font-size: 14px;
  font-weight: 600;
}
.navbar {
  background-color: #3B6D8C;
  border:1px solid whitesmoke;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  transition: padding 0.5s;

}

.navbar:hover {
  opacity: 0.97;
  padding: 1%;
}

.navbar a {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.navbar-toggler {
  padding: 2%;
  border: none;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-nav {
  margin-left: 10%;
  width: 50%
}

.navbar-nav li {
  margin-left: 3%;
}

.navbar-nav a:hover {
  color: #AFBF34;

}

/* .user_logo {
  margin-right: 5%;
  cursor: pointer;
}*/


.navbar-nav li:hover {
  border-bottom: 2px solid #AFBF34;
  cursor: pointer;
}

.navbar .btn {
  color: white;
  background-color: #AFBF34;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-right: 5%;

}
.navbar-nav ul li {
  float: left;
  margin-right: 4%;

}

.navbar-nav ul i {
  display: block;
  color: white
}

.navbar-nav ul a {
  color: white;
}
.iconcoler{
  color: white;
}
.navbar-nav ul a:visited {
  color: #3B6D8C
}
.dropdown{
  float: right;
margin-top: auto;
background-color: #3B6D8C;
}