a {
  text-decoration: none;
}

.profile_background {
  width: 100%;
  height: 330px;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-simple-small-fresh-watercolor-company-profile-ppt-background-image_260406.jpg");
  ;
  background-size: 100% 100%;
}



.postForm {
  text-align: center;
}

.clr {
  clear: both
}

.btn {
  float: right;
  margin-right: 10%;
  border-radius: 3%;
  margin-top: 50px;
  background-color: white;
  padding: 0.5% 1.2% 0.5% 1.2%;
  border: 3px solid #3B6D8C;
  transition: all 0.4s;


}

.profile_background a {
  color: #3B6D8C;
  text-decoration: none;


  /* display: inline */
}

.profile_background .btn:hover {
  background-color: #3B6D8C;
}

.btn:hover a {
  color: white;

}

.account_details {
  margin-left: 5%;
  margin-right: 3%;
  background-color: #f2f2f2;
}

.profile_img {
  margin-left: 20%;
  position: absolute;
  top: -100px;
  border: 5px solid white;
  border-radius: 65%;
}

.folowing_details {
  margin-left: 6%;
}

@media screen and (max-width: 600px) {
  .profile_img {
    margin-left: 26%;
  }

  .folowing_details {
    margin-left: 20%;

  }
}

.folowing_details div {
  float: left;
}

.folowing_details p {
  font-size: 20px;
  color: black;
  text-align: center;
}

.folowing_details span {
  font-size: 22px;
  color: #333;
  text-align: center;
  margin-bottom: 3%;
}

.right_container {
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding-top: 40%;

}

.profile_links div {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 8%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */

}

.profile_links i {
  color: #3B6D8C;
  font-size: 15px;
  display: inline-block;
  margin-right: 5%;
}

.profile_links a {
  text-decoration: none;
}

.account_main {
  padding-top: 5%;
  background-color: #f2f2f2;
  /* margin-right: 3%; */
}

.account_headline h1 {
  color: black
}

.account_headline p {
  color: #333;
  font-size: 15px;
  margin-bottom: 8%;
}

.account_headline span {
  margin-left: 5%
}

.account_headline i {
  color: #AFBF34;
  margin-right: 2%;
}

ul li {
  float: left;
  margin-right: 4%;

}

.modal-header {
  background-color: #3B6D8C;
}

ul i {
  display: block;
  color: grey
}

ul a {
  color: grey;
}

ul a:visited {
  color: #3B6D8C
}

.account_main button {

  background-color: #3B6D8C;
  float: right;
  margin-right: 10%;
  border-radius: 3%;
  padding: 1% 2% 1% 2%;
  border: 3px solid #3B6D8C;
}

.create_post {
  background-color: white;
}

.create_post .btn_post {
  background-color: #3B6D8C;
  float: right;
  border-radius: 3%;
  padding: 1% 2% 1% 2%;
  border: 3px solid #3B6D8C;
}

.close {
  margin-left: 85%;
  margin-bottom: 2px;
  float: right;

}

.account_main button a {
  color: white
}

.posts .post {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.post {
  padding-top: 4%;
  padding-right: 2%;
  margin-bottom: 5%;

  padding-left: 2%;
  background-color: white;
  border-radius: 3%;
}

.post p {
  margin-top: 3%;
  margin-left: 2%
}

.reactions {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2%;

}

.reactions a {
  color: grey;
  margin-right: 9%;
  margin-left: 2%
}

.reactions a:hover {
  color: #3B6D8C;
}

.contain {
  background-color: #f2f2f2;
  position: relative;
}

.tab_feed {
  margin: 0px
}

ul {
  margin-left: -5%;
}
