<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="../../assets/1.jpg" class="nav_logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0;"></span>
    </span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav  ">
      <li class="nav-item active">
        <i class="fas fa-home align-center "></i>
        <!-- <a class="nav-link "  [routerLink]='["/home/volunteer"]'>Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-link " (click)="refresh()">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <i class="fas fa-envelope align-center  "></i>

        <a class="nav-link my-0" href="#">Messages</a>
      </li>
      <li class="nav-item mr-4">
        <i class="fas fa-bell align-center"></i>

        <a class="nav-link" href="#">Notifications</a>
      </li>
      <li class="nav-item mr-5">
        <i class="fa fa-user-circle"></i>

        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <form class="form-inline mr-auto searchform">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="Start searching" aria-label="Search" (click)="searcheng()">
      </form>
    </ul>
  </div>
</nav>
<div class="container-fluid bg-light" *ngIf=displaydiv>
    <div class="row">
      <div class="col-md-6">
        <small class="searchsmall">Start searching for a charity or volunter by name or country</small>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Volunter Name</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let volunteer of listvolunteersearch | filter:searchText">
              <td (click)="govolunteer(volunteer)">{{volunteer.fname }} {{volunteer.lname}}</td>
              <td>{{volunteer.country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Charity Name</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let charity of listcharitysearch | filter:searchText">
              <td (click)="gocharity(charity)">{{charity.name}}</td>
              <td>{{charity.country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="contain">
  <div class="container-fluid p-0 overflow-hidden">
    <div class="row">
      <div class="col-md-12 profile_background"  [ngStyle]="{ 'background-image': 'url(' +coverimmg + ')'}">
        <button class="btnprofile">
          <form (ngSubmit)="coverimg()" >
          <input type="file" [(ngModel)]="volunteerdetaile.coverimg" ng2FileSelect [uploader]="uploader" ENCTYPE="multipart/form-data"
          (change)="onfileselected($event)"  class="form-input"   #coverimg="ngModel" name="coverimg" id="file" class="inputfile" />
          <label for="file">Change Image</label>       
          <input type="submit" name="submit" (click)="uploader.uploadAll()" >
        </form>
        </button>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-3  account_details ">
        <div class="row">
          <img class="profile_img" [src]="profileimageee" />
          <div class="right_container">

            <div class="folowing_details overflow-hidden">
              <div class="ml-4">
                <span>Following</span>
                <p>34</p>
              </div>
              <div class="ml-4">
                <span>Followers</span>
                <p>155</p>
              </div>
            </div>
            <div class="profile_links">
              <div>
                <i class="fas fa-globe-asia"></i>
                <a href="#">www.example.com</a>
              </div>
              <div>
                <i class="fab fa-facebook-square"></i>
                <a href="#">www.facebook.com</a>
              </div>
              <div>
                <i class="fab fa-twitter-square"></i>
                <a href="#">www.twitter.com</a>
              </div>
              <div>
                <i class="fab fa-google-plus-square"></i>
                <a href="#">www.googleplus.com</a>
              </div>
              <div>
                <i class="fab fa-behance-square"></i>
                <a href="#">www.behance.com</a>
              </div>
              <div>
                <i class="fab fa-pinterest-square"></i>
                <a href="#">www.pinterest.com</a>
              </div>
              <div>
                <i class="fa fa-instagram-square"></i>
                <a href="#">www.instagram.com</a>
              </div>
              <div>
                <i class="fab fa-youtube-square"></i>
                <a href="#">www.youtube.com</a>
              </div>
            </div>
          </div>


        </div>
        <div class="row">

        </div>
      </div>
      <div class="col-md-6 account_main ">
        <div class="account_headline overflow-hidden">
          <h4>{{volunteerdetaile.fname }} {{volunteerdetaile.lname }}</h4>
          <p>
            volunteer
            <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i></span>
            <span>
              <button class="setting">
                <a href="#">Setting</a>
              </button>
            </span>
          </p>
        </div>
        <div class="tab_feed overflow-hidden">
          <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="feeddiv-tab" data-toggle="tab" href="#feeddiv" role="tab"
              aria-controls="feeddiv" aria-selected="true">Feed</a>
            <a class="nav-item nav-link" id="infodiv-tab" data-toggle="tab" href="#infodiv" role="tab"
              aria-controls="infodiv" aria-selected="false">Info</a>

          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="feeddiv" role="tabpanel" aria-labelledby="feeddiv-tab">
              <div class="mb-5 mt-3 p-3 create_post">
                <img class="ml-2 w-22" [src]="profileimageee"  />
                <input type="submit" name="post" value="Post" data-toggle="modal" data-target="#post"
                  class="btn_post text-light ">
                <div class="modal fade" id="post" role="dialog">
                  <div class="modal-dialog">


                    <div class="modal-content">
                      <div class="modal-header ">

                        <h4 class="modal-title text-light float-left">Post</h4>
                        <button type="button" class="close text-light float-right" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form #post="ngForm" novalidate (ngSubmit)="onSubmit()">
                          <div class="form-group">
                            <input type="text" class="form-control postForm" name="title" #title="ngModel"
                              [(ngModel)]="newPost.title" placeholder="Title of Post" name="title">
                            <br>
                            <textarea class=" form-control postForm" rows="5" id="comment" #content="ngModel"
                              [(ngModel)]="newPost.content" placeholder="what are in your mind "
                              name="content"></textarea>
                          </div>
                          <div class="row modal-footer">
                            <input type="submit" class="btn maincolor img-vedio-btn text-light"
                              [disabled]="post.form.invalid" value="post">
                            <button class="btn maincolor mr-3 text-light" data-dismiss="modal">close</button>
                          </div>
                        </form>
                      </div>

                    </div>

                  </div>
                </div>



              </div>

              <div class="posts">
                <div class="post" *ngFor="let post of charityposts ">
                  <div class="editPost  pr-0">
                    <a href="#" title="" class="ed-opts-open dropdownpost" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fa fa-ellipsis-v  pt-0"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                     
                      <button name="edit" data-toggle="modal" data-target="#editpost"  (click)="editbutton(post)"  class="text-dark"><a>Edit
                          post</a></button>
                      <button name="edit" data-toggle="modal" data-target="#deletepost"
                      (click)="deletebutton(post)"  class="btn_post text-dark "><a>Delete post</a></button>
                     
                    </div>
                  </div>
                  <div>
                    <img class="float-left mr-2"
                    [src]="profileimageee"  />
                    <h5>{{volunteerdetaile.fname }} {{volunteerdetaile.lname }}</h5>
                    
                   
                    <span><i class="fa fa-clock-o"></i>3 minutes</span>
                  </div>
                  <div>
                    <p id="postTitle">{{post.title}}</p>
                    <p id="postContent">
                      {{post.content}}
                    </p>
                    <h5 class="hidden" id="postID">{{post._id}}</h5>
                  </div>
                  <div class="reactions ">
                    <a id="like" (click)="showlike()">
                      <i class="fas fa-heart" (click)="like()"></i>
                      Like</a>
                    <a (click)="comment()">
                      <i class="far fa-comment"></i>
                      Comment</a>
                  </div>

                  <div *ngIf="iscomment">
                    <form #comment="ngForm">

                      <div class="row form-group">
                        <input type="text" class="form-control w-100 float-right"
                          style="border-radius:10px;text-align: center;" [(ngModel)]="commentclass.text" #text
                          placeholder="your comment" name="text">
                        <button (click)="sendcomment()" class="hidden"></button>
                      </div>

                    </form>
                  </div>


                  <div *ngIf="showcomment">
                    <div *ngFor="let comment of commentpost">
                      <div class="row">
                        <p>
                          {{comment.postedby}}
                        </p>
                        <p>
                          {{comment.text}}
                        </p>
                      </div>
               
                    </div>

                    <div *ngIf="islike">
                      <div *ngFor="let like of AllLikes">
                        <p>{{like.postedby}}</p>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="modal fade" id="editpost" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header ">

                        <h4 class="modal-title text-light float-left">Edit</h4>
                        <button type="button" class="close text-light float-right" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form #post="ngForm" novalidate (ngSubmit)="onSubmit()">
                          <div class="form-group">
                            <input type="text" class="form-control postForm" name="title" #title="ngModel"
                              value="{{postTitle}}" [(ngModel)]="newPost.title" placeholder="Title of Post"
                              name="title">
                            <br>
                            <textarea class=" form-control postForm" rows="5" id="comment" #content="ngModel"
                              [(ngModel)]="newPost.content" value="{{postContent}}" placeholder="what are in your mind "
                              name="content"></textarea>
                          </div>
                          <div class="row modal-footer">
                            <input type="submit" (click)="edit()" class="btn maincolor img-vedio-btn text-light"
                              [disabled]="post.form.invalid" value="Edit" data-dismiss="modal">
                            <!-- <button  class=" btn maincolor mr-3 text-light" data-dismiss="modal">close</button> -->
                          </div>
                        </form>
                      </div>

                    </div>

                  </div>
                </div>



                <div class="modal fade" id="deletepost" role="dialog">
                  <div class="modal-dialog">


                    <div class="modal-content">
                      <div class="modal-header ">

                        <div class="modal-title text-light">Delete</div>
                        <button type="button" class="close text-light " data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete this post?</p>
                        <input type="submit" (click)="delete()"
                          class="btn maincolor ml-0 img-vedio-btn text-light float-right" value="Delete"
                          data-dismiss="modal">
                        <!-- <button  class=" btn maincolor mr-0 text-light float-right" data-dismiss="modal">close</button> -->
                      </div>

                    </div>

                  </div>
                </div>
         

                <div class="tab-pane fade" id="infodiv" role="tabpanel" aria-labelledby="infodiv-tab">
                  <div class="info">
                    <div class="details" *ngIf="NameF">
                      <i class="far fa-edit float-right" style="color: #3B6D8C;" (click)="editfname()"></i>
                      <h6 style="color: #3B6D8C;">Volunteer First Name</h6>
                      <p>{{volunteerdetaile.fname }} </p>

                    </div>
                    

                    <div class="details pb-5 mb-5" *ngIf="EditFName">
                      <h6 style="color: #3B6D8C;">Volunteer First Name</h6>
                      <form #userForm="ngForm">
                        <div class="form-group">
                          <input type="text" class="form-control" #fname [(ngModel)]="volunteerdetaile.fname"
                            value="{{volunteerdetaile.fname}}" class="w-100" name="fname">
                        </div>
                        <button type="submit" (click)="editFname(fname.value)"
                          class="float-right maincolor mt-1 mr-1 mb-5">Edit</button>
                      </form>
                    </div>


                    <div class="details" *ngIf="lastname">
                      <i class="far fa-edit float-right" style="color: #3B6D8C;" (click)="Lname()"></i>
                      <h6 style="color: #3B6D8C;">Volunteer Lastname</h6>
                      <p>{{volunteerdetaile.lname }}</p>

                    </div>



                    <div class="details pb-5" *ngIf="editlname">
                      <h6 style="color: #3B6D8C;">Volunteer Lastname</h6>
                      <form #userForm="ngForm">
                        <div class="form-group">
                          <input type="text" class="form-control" #lname [(ngModel)]="volunteerdetaile.lname"
                            value="{{volunteerdetaile.lname}}" class="w-100" name="lname">
                        </div>
                        <button type="submit" (click)="editLname(lname.value)"
                          class="float-right maincolor mt-2 mr-1 mb-5 ">Edit</button>
                      </form>
                    </div>

                    <div class="details"*ngIf="phone" >
                      <i class="far fa-edit float-right" style="color: #3B6D8C;" (click)="editphone()"></i>
                      <h6 style="color: #3B6D8C;">Volunteer phone</h6>
                      <p>{{volunteerdetaile.phone }}</p>

                    </div>


                    <div class="details pb-5" *ngIf="phoneEdit">
                      <h6 style="color: #3B6D8C;">Volunteer phone</h6>
                      <form #userForm="ngForm">
                        <div class="form-group">
                          <input type="text" class="form-control" #phone [(ngModel)]="volunteerdetaile.phone"
                            value="{{volunteerdetaile.phone}}" class="w-100" name="phone">
                        </div>
                        <button type="submit" (click)="newphone(phone.value)"
                          class="float-right maincolor mt-2 mr-1 ">Edit</button>
                      </form>
                    </div>


                    <div class="details" *ngIf="Country">
                      <i class="far fa-edit float-right" style="color: #3B6D8C;" (click)="country()"></i>
                      <h6 style="color: #3B6D8C;">Volunteer Country</h6>
                      <p>{{volunteerdetaile. country }}</p>

                    </div>


                    <div class="details pb-5" *ngIf="countryedit">
                      <h6 style="color: #3B6D8C;">Volunteer Country</h6>
                      <form #userForm="ngForm">
                        <div class="form-group">
                          <input type="text" class="form-control" #country [(ngModel)]="volunteerdetaile.country"
                            value="{{volunteerdetaile.country}}" class="w-100" name="country">
                        </div>
                        <button type="submit" (click)="Editcountry(country.value)"
                          class="float-right maincolor mt-2 mr-1 ">Edit</button>
                      </form>
                    </div>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>