<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>



    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
<div class="contain">
  <div class="container-fluid p-0 overflow-hidden">
    <div class="row">
      <div class="col-md-12 profile_background">
        <button class="btn">
          <a href="#">Change Image</a>
        </button>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-3  account_details ">
        <img class="profile_img" src="http://gambolthemes.net/workwise-new/images/resources/user-pro-img.png" />
        <div class="right_container">

          <div class="folowing_details overflow-hidden">
            <div class="">
              <span>Following</span>
              <p>34</p>
            </div>
            <div class="ml-4">
              <span>Followers</span>
              <p>155</p>
            </div>
          </div>
          <div class="profile_links">
            <div>
              <i class="fas fa-globe-asia"></i>
              <a href="#">www.example.com</a>
            </div>
            <div>
              <i class="fab fa-facebook-square"></i>
              <a href="#">www.facebook.com</a>
            </div>
            <div>
              <i class="fab fa-twitter-square"></i>
              <a href="#">www.twitter.com</a>
            </div>
            <div>
              <i class="fab fa-google-plus-square"></i>
              <a href="#">www.googleplus.com</a>
            </div>
            <div>
              <i class="fab fa-behance-square"></i>
              <a href="#">www.behance.com</a>
            </div>
            <div>
              <i class="fab fa-pinterest-square"></i>
              <a href="#">www.pinterest.com</a>
            </div>
            <div>
              <i class="fa fa-instagram-square"></i>
              <a href="#">www.instagram.com</a>
            </div>
            <div>
              <i class="fab fa-youtube-square"></i>
              <a href="#">www.youtube.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 account_main ">
        <div class="account_headline overflow-hidden">
          <h4>John Doe</h4>
          <p>
            Graphic and web designer
            <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i></span>
            <button>
              <a href="#">Setting</a>
            </button>
          </p>
        </div>
        <div class="tab_feed overflow-hidden">
          <ul class="list-unstyled ml-2">
            <li>
              <a href="#">
                <img src="http://gambolthemes.net/workwise-new/images/ic1.png" />
                <p>Feed</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="http://gambolthemes.net/workwise-new/images/ic1.png" />
                <p>Info</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="http://gambolthemes.net/workwise-new/images/ic1.png" />
                <p>Feed</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="http://gambolthemes.net/workwise-new/images/ic1.png" />
                <p>Feed</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="posts">
          <div class="post">
            <div>
              <img class="float-left mr-2" src="http://gambolthemes.net/workwise-new/images/resources/bg-img4.png" />
              <h5>john doe</h5>
              <span><i class="fa fa-clock-o"></i>3 minutes</span>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id
                magna sit amet...
              </p>
            </div>
            <div class="reactions">
              <a href="#">Like</a>
              <a href="#">Comment</a>
            </div>
          </div>
          <div class="post">
            <div>
              <img class="float-left mr-2" src="http://gambolthemes.net/workwise-new/images/resources/bg-img4.png" />
              <h5>john doe</h5>
              <span><i class="fa fa-clock-o"></i>3 minutes</span>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id
                magna sit amet...
              </p>
            </div>
            <div class="reactions">
              <a href="#">Like</a>
              <a href="#">Comment</a>
            </div>
          </div>
          <div class="post">
            <div>
              <img class="float-left mr-2" src="http://gambolthemes.net/workwise-new/images/resources/bg-img4.png" />
              <h5>john doe</h5>
              <span><i class="fa fa-clock-o"></i>3 minutes</span>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id
                magna sit amet...
              </p>
            </div>
            <div class="reactions">
              <a href="#">Like</a>
              <a href="#">Comment</a>
            </div>
          </div>
          <div class="post">
            <div>
              <img class="float-left mr-2" src="http://gambolthemes.net/workwise-new/images/resources/bg-img4.png" />
              <h5>john doe</h5>
              <span><i class="fa fa-clock-o"></i>3 minutes</span>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id
                magna sit amet...
              </p>
            </div>
            <div class="reactions">
              <a href="#">Like</a>
              <a href="#">Comment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
