<html>

<head></head>

<body class="container-fluid bg-light">
    <div class=" row pr-5 pl-5 pb-5">
        <div class="col-md-3 pr-4 pl-4 ">
            <div class="shadow myprofile">
                <div class="" style="background-color: #3B6D8C;height: 80px;text-align: center;">
                    <img src="../../assets/download.jpg" class=" profileimage mt-5"></div>
                <div class="image bg-white">
                    <!-- <img src="../../assets/download.jpg" class="profileimg"> -->
                </div>
                <div style="text-align: center;background-color: white;">
                    <h5 class="pt-5">shimaa{{volunteerdetaile.fname}}</h5>
                    <p style="color: gray;">developer</p>
                    <hr>
                    <div class="followdiv">
                        <h6 style="color: grey;">Following</h6>
                        <p>22</p>
                    </div>

                    <div class="followdiv">
                        <h6 style="color: grey;">Followors</h6>
                        <p>22</p>
                    </div>
                    <hr>
                    <div class="viewprofile pb-4">
                        <a href="#">view profile</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 pr-4 pl-4">
            <div class="row shadow writepost">

                <img src="../../assets/download.jpg" class="profileimg">
                <input type="submit" name="post" value="Post" data-toggle="modal" data-target="#post"
                    class="btn maincolor text-light postbtn">

                <div class="modal fade" id="post" role="dialog">
                    <div class="modal-dialog">

                        
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title text-light">Post</h4>
                                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control postForm" name="titleOfPost"
                                            placeholder="Title of Post">
                                        <br>
                                        <textarea class=" form-control postForm" rows="5" id="comment"
                                            placeholder="what are you need "></textarea>
                                    </div>
                                    <div class="row modal-footer">
                                        <button type="submit" class="btn maincolor img-vedio-btn text-light"
                                            data-dismiss="modal">images/video</button>
                                        <button type="submit" class=" btn maincolor mr-3 text-light"
                                            data-dismiss="modal">post</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div id="secondpost" class="row shadow ">
                <div class="row ml-2 mr-5">
                    <div>
                        <img src="../../assets/download.jpg" class="cricle-img " height="40px">
                        hope      
                    </div>
                    <div class="ml-5 mb-2">
                        <i class="fas fa-ellipsis-v editposticon "></i>
                    </div>
                  
                </div>
                <hr>
                <div class="row ml-3 mr-3 mt-2">
                    <p>Jung Ho-seok (Korean: 정호석; born February 18, 1994), better known by his stage name J-Hope
                        (stylized as j-hope), is a South Korean rapper, songwriter, dancer, and record producer. In
                        2013, J-Hope made his debut as a member of the South Korean boy band BTS, managed under Big Hit
                        Entertainment.
                    </p>
                    <div class="row ml-2 postfooter">
                        <div class="mr-3">
                            <p><i class="fas fa-heart mr-1"></i>like</p>
                        </div>
                        <div>
                            <p><i class="fas fa-comment mr-1"></i>comment</p>
                        </div>
                    </div>
                </div>
                <hr>

            </div>

            <div class="row mt-3  pb-4 shadow">
                <div class="col-12">
                    <h5 class="mt-3 ml-4">Top profiles</h5>
                </div>

                <!-- <div class="row pr-3 pl-3 "> -->
                    <div class="col-md-4 col-sm-9">
                        <div class="card mt-4 mb-3" style="width:100%; text-align: center;">
                            <img class="profileimg mt-3" src="../../assets/download.jpg" alt="Card image"
                                style="width:50%;margin: auto;">
                            <div class="card-body">
                                <h4 class="card-title">Joh Doe</h4>
                                <p class="card-text">Some example text some example text.</p>
                                <div style="text-align: center;"> 
                                    <input type="button" class="btn maincolor" value="Follow">
                                </div>

                                <!-- <a href="#" class="btn maincolor">follow</a> -->
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-9">
                        <div class="card mt-4 mb-3 " style="width:100%; text-align: center;">
                            <img class="profileimg mt-3" src="../../assets/download.jpg" alt="Card image"
                                style="width:50%;margin: auto;">
                            <div class="card-body">
                                <h4 class="card-title">Joh Doe</h4>
                                <p class="card-text">Some example text some example text.</p>
                                <a href="#" class="btn maincolor">follow</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-9">
                        <div class="card mt-4 mb-3" style="width:100%; text-align: center;">
                            <img class="profileimg mt-3" src="../../assets/download.jpg" alt="Card image"
                                style="width:50%;margin: auto;">
                            <div class="card-body">
                                <h4 class="card-title">Joh Doe</h4>
                                <p class="card-text">Some example text some example text.</p>
                                <a class="btn maincolor">follow</a>
                            </div>
                        </div>

                    </div>
                <!-- </div> -->




            </div>



            <div id="secondpost" class="row shadow ">
                <div class="row ml-2 mr-5">
                    <span>
                        <img src="../../assets/download.jpg" class="cricle-img " height="40px">
                        hope
                        <!-- <i class="fas fa-ellipsis-v pb-2 editposticon"></i> -->
                    </span>
                </div>
                <hr>
                <div class="row ml-3 mr-3 ">
                    <h5 class="mt-3 mb-2">post title</h5>
                    <br>
                    <img src="../../assets/download.jpg" class="w-100">
                    <p>Jung Ho-seok (Korean: 정호석; born February 18, 1994), better known by his stage name J-Hope
                        (stylized as j-hope), is a South Korean rapper, songwriter, dancer, and record producer. In
                        2013, J-Hope made his debut as a member of the South Korean boy band BTS, managed under Big Hit
                        Entertainment.
                    </p>
                    <div class="row ml-2 postfooter">
                        <div class="mr-3">
                            <p><i class="fas fa-heart mr-1"></i>like</p>
                        </div>

                        <div>
                            <p><i class="fas fa-comment mr-1"></i>comment</p>
                        </div>

                    </div>
                </div>
                <hr>

            </div>
        </div>

        <div class="col-md-3 pl-2 pr-4 ">
            <div class="pl-3 pr-3 pb-4 shadow Suggestions">
                <!-- <div class="ml-3"> -->
                <h5>Suggestions</h5>
                <hr>
                <!-- </div> -->

                <div class="row ml-1 mt-2 mr-1 bg-light">
                    
                        <img src="../../assets/download.jpg" class="profileimg w-40">
               
                        <p class="mt-2 ml-3">shimaa<br>web developer</p>
                    
                        <div class="plusIconDiv mt-3 ml-4 "><i class="fas fa-plus plusicon"></i></div>
                    



                </div>

                <div class="row ml-2 mt-2 mr-1 bg-light">
                    <img src="../../assets/download.jpg" class="profileimg w-40">
                    <p class="mt-2 ml-3">shimaa<br>web developer</p>
                    <!-- <div class="plusIconDiv mt-3 ml-4"><i class="fas fa-plus plusicon"></i></div> -->
                </div>

            </div>
        </div>



    </div>


</body>

</html>