body {

  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nav-item i {
    margin-left: 5% !important;
  }
}
.profileimg {
  width: 8%;
  height: 40px;
  border-radius: 50%;
  margin-top: 4%;
  margin-left: 3%;
}

.profileimage {
  width: 30%;
  height: 70px;
  border-radius: 50%;
  top: 180px;

  /* bottom: -100px;  */
  top: 100px;
  text-align: center;
}

.myprofile {
  margin-top: 20px;
}

.bg-white {
  background-color: white;
}

.followdiv {
  background-color: white;
  text-align: center;
  width: 100%;
}

.viewprofile a {
  text-decoration: none;
  color: #3B6D8C;
}

.writepost {

  height: 80px;
  margin-top: 20px;
  background-color: white;
  border-radius: 2%;
}

.postbtn {
  margin-left: 65%;
  height: 40px;
  width: 15%;

  padding: 2px 4px;
}
.postForm {
  text-align: center;
}

.cricle-img {
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 4px;
  width: 10%;
  position: static;
}

.plusIconDiv {
  border: gray .5px solid;
  color: grey;
  height: 27px;
  width: 10%;
  /* margin-left: 15%;
    margin-top: 6%; */
}

.plusIconDiv:hover {

  background-color: #3B6D8C;
  color: white;
}

.plusicon {

  font-size: 15px;
  padding-top: 5px;
  padding-left: 5px;

}

.modal-header {
  background-color: #3B6D8C;
  color: snow;
}

.post {
  background-color: white;
  width: 100%;
}

#secondpost {

  padding-left: 2%;
  padding-top: 2%;
  margin-top: 2%;
  background-color: white;
  border-radius: 2%;
}

.editPost {
  float: right;
  position: relative;
  color: grey;
  margin-top: 10px;
}

.ed-opts>a {

  font-size: 24px;
  float: right;
  position: relative;
  left: 10px;
  top: -10px;
}

.fas {
  color: grey;
}

.fas:hover {
  background: white;
  color: #3B6D8C;

}

.postfooter {
  color: grey;

}

.postfooter:hover {
  color: #3B6D8C;
}

.maincolor {
  background-color: #3B6D8C;
  color: white;
}

.suggestions-list {
  float: left;
  width: 100%;
  padding: 13px 0 30px 0;
  margin-top: 20px;

}

.suggestion-usd {
  float: left;
  width: 100%;
  padding: 15px 20px;
}

.suggestion-usd img {
  border-radius: 50%;
  width: 20%;
  height: 60px;
  float: left;
}

.sgt-text {
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

.sgt-text h4 {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 4px; */
}

.sgt-text span {
  color: #686868;
  font-size: 14px;

}

.suggestion-usd>span {
  float: right;
  margin-top: 16px;
  position: relative;
  /* color: lightgray; */
}

.suggestion-usd>span i {
  color: #b2b2b2;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  /* cursor: pointer; */
}


.nav_logo {
  width: 70px;
  height: 60px;
  border-radius: 55%;
  margin-left: 70%;
}

.nav-item i {
  margin-left: 40%;
  color: #AFBF34
}

.navbar {
  background-color: #3B6D8C;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  transition: padding 0.5s;

}

.navbar:hover {
  opacity: 0.97;
  padding: 1%;
}

.navbar a {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.navbar-toggler {
  padding: 2%;
  border: none;
}

.dropdown-menu {
  z-index: 5454546875
}



.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-nav {
  margin-left: 10%;
  width: 50%
}

.navbar-nav li {
  margin-left: 3%;
}

.nav_logo {
  width: 70px;
  height: 60px;
  border-radius: 55%;
  margin-left: 70%;
}

.navbar-nav a:hover {
  color: #AFBF34;

}
.searchform{
  display: contents !important;
  
  }
  .searchbtn{
height: 15% !important;
background-color:#AFBF34 ;
color: whitesmoke;
 }
 .form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: 'FontAwesome';
}
.searchsmall{
color: black;
}