<form #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)" method="POST">
   <h6 style="text-align: center;color: #3B6D8C;">{{charityerror}}</h6> 
                <div class="form-group">
                  <label>EMAIL :</label>
                  <input type="email" #email="ngModel" [class.is-invalid]=" email.invalid && email.touched" required
                    class="form-control" [(ngModel)]=" adminModel.email" placeholder="Email" name="email">
                  <small [class.d-none]="email.valid || email.untouched" class="text-danger">email is required</small>
                </div>
                <div class="form-group">
                  <label>PASSWORD :</label>
                  <input type="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
                    required class="form-control" [(ngModel)]=" adminModel.password" placeholder="Password" name="password">
                  <small [class.d-none]="password.valid || password.untouched" class="text-danger">password is
                    required</small>
                </div>
    
                <input type="submit" style="background-color:#3B6D8C"[disabled]="userForm.form.invalid" class="btn maincolor w-100" value="Sign in">
    
              </form>